<%- include('header') -%>

<body>
    <!-- NAVIGATION BAR, LAHAT NG LINKS -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/dashboard"><span class="text-secondary">NANCY's</span> HUB</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
						<a class="nav-link" href="/charts">Charts</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/reservation">Reservation</a>
					</li>
          <li class="nav-item">
						<a class="nav-link" href="/home">Website</a>
					</li>
          <li class="nav-item">
						<a class="nav-link" href="/logout">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

    <section class="about welcome-bg section-padding" id="about">
        <div class="container">
            <div class="col-md-12">
                <div class="section-header pb-2">
                    <h4>Nandy Hub Laundry Dashboard</h4>
                    <h6><%= locals.user ? user : "User" %></h6>
                </div>
            </div>
        </div>
    </section>
    
    <section class="section-padding table-responsive" id="services">
        <div class="container">
            <table class="table" id="reserveTable">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Services</th>
                    <th scope="col">Size</th>
                    <th scope="col">Products</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Delivery Type</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">Delivery Fee</th>
                    <th scope="col">Date and Time</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% allreservations.forEach((reserve) => { %>
                    <tr>
                      <td>
                        <%= reserve.name %>
                      </td>
                      <td>
                        <%= reserve.services %>
                      </td>
                      <td>
                        <%= reserve.size %>
                      </td>
                      <td>
                        <%= reserve.products %>
                      </td>
                      <td>
                        <%= reserve.quantity %>
                      </td>
                      <td>
                        <%= reserve.price %>
                      </td>
                      <td>
                        <%= reserve.delivery %>
                      </td>
                      <td>
                        <%= reserve.subtotal %>
                      </td>
                      <td>
                        <%= reserve.deliveryfee %>
                      </td>
                      <td>
                        <% if (reserve.datetime) { %>
                           <%= reserve.datetime.toLocaleString() %>
                         <% } else { %>
                           N/A
                         <% } %>
                       </td>
                      <!-- dito yung sinasabi ni liya na update kineso na button -->
                      <form action="/reservation/delete" method="post">
                      <td style="vertical-align: middle;">
                          <input type="hidden" name="id" value="<%= reserve.id %>">
                          <button type="submit" class="btn btn-dark text-white"><i class="bi bi-arrow-up-right-square"></i></button>
                          <!-- <button type="submit" class="btn btn-dark btn-sm">Done</button> -->
                      </td>
                    </form>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
        </div>
    </section>
</body>

<script>
  // Prevent form submission from redirecting
  document.querySelectorAll('form').forEach((form) => {
    form.addEventListener('submit', (event) => {
      event.preventDefault();
      const confirmation = confirm('This action will make the reservation mark as done. Are you sure?');
    if (confirmation) {
      form.submit();
      }
    });
  });
</script>

<%- include('footer') -%>
